<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=163.43.31.167;Initial Catalog=Sangyo_RCM;Persist Security Info=True;User ID=sa;Password=admin@1234!;Connection Timeout=60000" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="localFilePath" value="C:\Ino_Sangyo_RCM\Item_Image\" />
    <add key="DropboxPath" value="/Test_DB_Backup/" />
    <add key="TokenKey" value="Kyf6TnYvqJAAAAAAAAANgqoClFBqyOVnfOXP8wlvCr6qQWhwzqpAac-dJMKugJvo" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>